<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #333;
        }

        input[type="text"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        button[type="submit"] {
            background-color: #343a40;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button[type="submit"]:hover {
            background-color: #445b52;
        }
    </style>
</head>
<body>
    <h1>Add a Product</h1>
    <form action="/products" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="brand">Brand</label>
            <input type="text" id="brand" name="brand">
        </div>
        <div>
            <label for="color">Color</label>
            <input type="text" id="color" name="color">
        </div>
        <div>
            <label for="size">Size</label>
            <input type="text" id="size" name="size">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="price">
        </div>
        <select name="category" id="category">
            <option value="">Pilih Kategori</option>
            <option value="Aksesoris">Aksesoris</option>
            <option value="Baju">Baju</option>
            <option value="Celana">Celana</option>
            <option value="Jaket">Jaket</option>
        </select>
        <button type="submit">Add Product</button>
    </form>
</body>
</html>